footer {
  background-color: #3D5A80;
  color: #FFD027;
  padding: 20px;
  text-align: center;
}


.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.footer-social-media li {
  list-style: none;
  padding: 10px;
}

.footer-social-media li a {
  text-decoration: none;
  color: #DCE6E8;
}

.footer-social-media li a:hover {
  color: #FFD027;
  cursor: pointer;
}
